body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/medical-background.jpg");
    background-size: cover;
    width: 100%;
}

#header{
    width: 100%;
    height:100px;
    background: green;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#header__logo-link{
    margin-left: 20px;
}

#header__logo-img{
    width: 80px;
}

.header__navbar{
    display:flex;
    justify-content: space-around;
}

.header__navbar-item{
    text-decoration: none;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.header__navbar-item:hover{
    color:black;
}


#header__button-visit{
    margin-right: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    font-weight: 800;
    outline-style: none;
    background: #ffd700;
}

#header__button-visit:hover {
    color:black;
    cursor:pointer;
}

#popUp-block{
    position: absolute;
    width: 350px;
    z-index: 100;
    margin-top: 10em;
    height: 290px;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
}

.popUp-deactive {
    display:none;
}

.pop-Up__form {
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
}


.popUp-block__close {
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    border: 0.3px solid #AEAEAE;
    border-radius: 50%;
    background: #605F61;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 10px 4px;
    text-decoration: none;

}

.popUp-block__close:before{
    content: "X";
}

.popUp-block__close:hover {
    opacity: 0.6;
    color: red;
}


#doctor-type {
    height:40px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-size:11px;
    padding:10px;
    margin-bottom:5px;
    color:blue;
}

.input {
    height:30px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-size:11px;
    padding:10px;
    margin-bottom:5px;
}

.input-deactive {
    display:none;
}


.input:focus{
    outline:none;
    border:rgba(24,149,215,1) 2px solid;
    color:rgba(24,149,215,1);
}

#button-popUp {
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background:#008000;
    color:#FFF;
    font-weight:400;
    font-size: 16px;
    transition:background .4s;
    cursor:pointer;
}

#button-popUp:hover{
    opacity:0.6;
}

#message-popUp {
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-size:11px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-top:5px;
    overflow:hidden;
    resize: none;
}


#visit-desk {
   /*background-image: url("../img/medical-background.jpg");*/
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   color:red;
   font-size: 60px;
   height: 603px;
   font-weight: bolder;
}

.draggable{
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px;
}

.draggable>.doctor{
    display: block;
    color: yellowgreen;
}

.draggable>.fio{
    display: block;
    color: mediumblue;
}

.draggable>span{
    display: none;
}

.carddoctor-big {
    position:absolute;
    height: 200px;
    width: 500px;
    z-index:10;
}


.fio {
    display:block;
    color:aqua;
    font-size: 18px;
    font-weight: bold;
}

.doctor {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color:#fcbf00;
}

.carddoctor-big>span {
    font-size: 20px;
    /*display:none;*/
    display:block;
}

.card-close {
    cursor: pointer;
    color: aqua;
    border: 1px solid #AEAEAE;
    border-radius: 50%;
    background: #605F61;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 2px 3px;
    float: right;
}

.card-close:before{
    content: "x";
}

.card-close:hover{
    opacity: 0.8;
    color: red;
}

.card-closehide{
    display:none;
}

.card-moreinfo {
    display:block;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin:20px 0px;
}

.card-moreinfo:before{
    content: "See more/hide information";
}

.card-moreinfo:hover{
    cursor: pointer;
    opacity: 0.8;
    color: #084c88;
}

.footer{
    background-color: green;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
    font-size:20px;
    font-weight:700;
    padding: 14px;
}



